# Anthropic
ANTHROPIC_API_KEY=ap-your-api-key-here

# Bright Data
BRIGHT_DATA_API_KEY=bd-your-api-key-here

# Firecrawl
FIRECRAWL_API_KEY=fc-your-api-key-here

# Supabase
DATABASE_URL=sb-your-database-url-here # For NestJS runtime app
DIRECT_URL=sb-your-direct-url-here # For prisma CLI for migrations

# Cache Storage
CACHE_DIR=cd-your-cache-dir-here

# Bronze Storage
BRONZE_DIR=bd-your-bronze-dir-here

# Filtered Storage
FILTERED_DIR=fd-your-filtered-dir-here

# Silver Storage
SILVER_DIR=sd-your-filtered-dir-here