# Bright Data
BRIGHT_DATA_API_KEY=bd-your-api-key-here

# Firecrawl
FIRECRAWL_API_KEY=fc-your-api-key-here

# Bronze Storage
BRONZE_DIR=bd-your-bronze-dir-here
# Cache Storage
CACHE_DIR=cd-your-cache-dir-here